<div class="row 200%">
	<div class="12u">

		<!-- About -->
			<section>
				<h2 class="major"><span>Haftung</span></h2>
				<p>
					Die Inhalte unserer Seiten wurden mit gr&ouml;&szlig;ter Sorgfalt erstellt. F&uuml;r die Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte k&ouml;nnen wir jedoch keine Gew&auml;hr &uuml;bernehmen. Als Diensteanbieter sind wir als Anbieter dieser Webseite gem&auml;&szlig; &sect; 7 Abs. 1 TMG f&uuml;r eigene Inhalte und bereitgestellte Informationen auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich; nach den &sect;&sect; 8 bis 10 TMG jedoch nicht verpflichtet, die &uuml;bermittelten oder gespeicherten fremden Informationen zu &uuml;berwachen. Eine Entfernung oder Sperrung dieser Inhalte erfolgt umgehend ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung. Eine Haftung ist erst ab dem Zeitpunkt der Kenntniserlangung m&ouml;glich.
				</p>
			</section>

	</div>
</div>