<div class="row 200%">
	<div class="12u">

		<!-- About -->
			<section>
				<h2 class="major"><span>Urheberrecht</span></h2>
				<p>
					Der Seitenbetreiber ist bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie Werke zurückzugreifen. Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede weitere Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Erstellers beziehungsweise Erstellerin. Soweit die Inhalte auf dieser Seite nicht von dem Seitenbetreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche (als Unterschrift, Link bzw. im Alt-Text von Bildern) gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
				</p>
			</section>

	</div>
</div>