<article class="box post">
	<header>
		<h2 class="major"><span>Software &amp; Code Qualit&auml;t</span></h2>
	</header>
	<p>
		Software &amp; Code Qualit&auml;t, oder auch externe und interne Qualit&auml;t spielen beide eine wichtige Rolle f&uuml;r den Erfolg eines Projektes. Wie wichtig diese beiden Seiten sind, kann von Projekt zu Projekt variieren. Daher ist es wichtig, gemeinsam zu erarbeiten, welcher Fokus ben&ouml;tigt wird.<br/>
		Auch im <a href="http://martinfowler.com/articles/agileFluency.html" target="_blank">agile fluency model</a> finden sich verschiedene Stufen wieder, bei denen die Qualit&auml;t jeweils einen anderen Fokus hat. <a href="http://martinfowler.com/articles/agileFluency.html#One-starTeamsCreateBusinessValue" target="_blank">"Ein Stern"-Teams</a> haben eine sehr gro&szlig;en Fokus auf der externen Qualit&auml;t, <a href="http://martinfowler.com/articles/agileFluency.html#Two-starTeamsDeliverOnTheMarketx2019sCadence" target="_blank">"Zwei Sterne"-Teams</a> legen einen verst&auml;rkten Fokus auf die interne, Code Qualit&auml;t, um bei langfristigen Projekten und Produkten die Anzahl der Fehler zu verringern und die Produktivit&auml;t hoch zu halten.<br/>
		<br/>
		Meine Leistungen:
		<ul>
			<li><span class="fa fa-fw fa-check-square-o"></span>&nbsp;Unit Testing</li>
			<li><span class="fa fa-fw fa-check-square-o"></span>&nbsp;Code Reviews</li>
			<li><span class="fa fa-fw fa-check-square-o"></span>&nbsp;Refactoring</li>
			<li><span class="fa fa-fw fa-check-square-o"></span>&nbsp;Software Architektur</li>
			<li><span class="fa fa-fw fa-check-square-o"></span>&nbsp;Design Pattern</li>
			<li><span class="fa fa-fw fa-check-square-o"></span>&nbsp;Continuous Integration</li>
			<li><span class="fa fa-fw fa-check-square-o"></span>&nbsp;Testing Dojos</li>
		</ul>
	</p>
</article>