			<!-- Footer -->
				<footer id="footer" class="container">
					<div class="row 200%">
						<div class="12u">

							<!-- Contact -->
								<section>
									<h2 class="major"><span>Get in touch</span></h2>
									<ul class="contact">
										<li><a class="icon fa-xing" href="https://www.xing.com/profile/Frank_Sons"><span class="label">Xing</span></a></li>
										<li><a class="icon fa-twitter" href="https://twitter.com/franks"><span class="label">Twitter</span></a></li>
										<li><a class="icon fa-facebook" href="https://www.facebook.com/frank.sons"><span class="label">Facebook</span></a></li>
										<li><a class="icon fa-linkedin" href="https://de.linkedin.com/in/franksons"><span class="label">LinkedIn</span></a></li>
										<li><a class="icon fa-google-plus" href="https://plus.google.com/u/0/113784520239196065279/"><span class="label">Google+</span></a></li>
									</ul>
								</section>

						</div>
					</div>

					<!-- Copyright -->
						<div id="copyright">
							<ul class="menu">
								<!--<li>&copy; Frank Sons. All rights reserved</li>-->
								<li><a href="{{ site.url }}{{ site.baseurl }}/imprint/">Impressum</a></li>
								<li><a href="{{ site.url }}{{ site.baseurl }}/contact/">Kontakt</a></li>
								<!--<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
							</ul>
						</div>

				</footer>