<!-- Scripts -->
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js?v={{ site.version }}"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.dropotron.min.js?v={{ site.version }}"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js?v={{ site.version }}"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel-viewport.min.js?v={{ site.version }}"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js?v={{ site.version }}"></script>
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js?v={{ site.version }}"></script><![endif]-->
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js?v={{ site.version }}"></script>