<!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.google.analytics }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

<!-- Scripts -->
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js?v={{ site.version }}"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.dropotron.min.js?v={{ site.version }}"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js?v={{ site.version }}"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel-viewport.min.js?v={{ site.version }}"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js?v={{ site.version }}"></script>
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js?v={{ site.version }}"></script><![endif]-->
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js?v={{ site.version }}"></script>