			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li {% if page.url == '/index.html' %}class="current"{% endif %}>
							<a href="/index.html">Startseite</a>
						</li>
						<!--<li {% if page.url == '/leistungen/' %}class="current"{% endif %}>
							<a href="{{ site.url }}{{ site.baseurl }}/leistungen/">Leistungen</a>
						</li>
						<li {% if page.url == '/about-me/' %}class="current"{% endif %}>
							<a href="{{ site.url }}{{ site.baseurl }}/about-me/">&Uuml;ber mich</a>
						</li>-->
					</ul>
				</nav>