<article class="box post">
	<header>
		<h2 class="major"><span>Meine Leistungen</span></h2>
	</header>
	<!--<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>--> 
	<p>
	Jedes Problem bedarf einer rangepa&szlig;ten L&ouml;sung. Daher stehe ich Ihnen bei Ihren Projekte nicht nur beratend und mit Workshops und Vortr&auml;gen zur Seite, sondern unterst&uuml;tze Sie bei Bedarf auch direkt hands-on vor Ort in Ihrem Teams, um einen m&ouml;glichst langfristigen Erfolg und Steigerung der Qualit&auml;t zu erreichen.
	<!--Beratung, Workshops, Vortr&auml;ge, Unterst&uuml;tzung im Team-->
	</p>
</article>