<article class="box post">
	<header>
		<h2 class="major"><span>Angepa&szlig;t an Ihre Probleme</span></h2>
	</header>
	<!--<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>--> 
	<p>
	Jedes Problem bedarf einer angepa&szlig;ten L&ouml;sung. Daher unterst&uuml;tze ich Sie und Ihr Team durch Beratung, Workshops und bei Bedarf auch hands-on vor Ort in Ihrem Team. Immer angepa&szlig;t auf Ihre konkreten Bed&uuml;rfnisse.
	<!--Beratung, Workshops, Vortr&auml;ge, Unterst&uuml;tzung im Team-->
	</p>
</article>