<!-- Banner -->
	<div id="banner-wrapper">
		<section id="banner">
			<h2>Beratung f&uuml;r Software &amp; Code Qualit&auml;t in agilen Teams</h2>
			<p>Software und Code Qualit&auml;t sind in vielen Projekten heute ein gro&szlig;es Thema. Angefangen bei Unit Testing und Code Reviews, bis hin zu Continuous Integration und Continuous Delivery. Ich helfe Ihnen und Ihrem Team in all diesen Punkten durch Beratung, Workshops oder auch l&auml;ngerfristige Unterst&uuml;tzung im Team direkt vor Ort.<br/>
			<br/>
			
			</p>
			<a href="{{ site.url }}{{ site.baseurl }}/services/" class="button">Meine Leistungen</a>&nbsp;
			<a href="{{ site.url }}{{ site.baseurl }}/contact/" class="button">Kontakt</a>
		</section>
	</div>