						<div class="row 200%">
							<div class="12u">

								<!-- Blog -->
									<section class="box blog">
										<h2 class="major"><span>Artikel und Termine</span></h2>
										<div>
											<div class="row">
												<div class="9u 12u(mobile)">
													<div class="content content-left">

														<!-- Featured Post -->
															{% for post in site.categories.blog limit:1 %}
															<article class="box post">
																<header>
																	<h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
																</header>
																<!--<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>-->
																{{ post.excerpt | truncate: 1000, '...' }}
																<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="button">Weiterlesen</a>
															</article>
															{% endfor %}

													</div>
												</div>
												<div class="3u 12u(mobile)">
													<div class="sidebar">

														<!-- Termine -->
														{% if site.categories.event != empty %}
															{% capture now %}{{'now' | date: '%s'}}{% endcapture %}
															<ul class="divided">
															{% assign sortedEvents = site.categories.event | sort: 'expires' %}
															{% for post in sortedEvents limit:10 %}
																{% capture expire %}{{ post.expires | date: '%s'}}{% endcapture %}
																{% if expire > now %}
																<li>
																	<article class="box post-summary">
																		<h3>
																		{% if page.link != empty %}
																			<a href="{{ post.link }}">{{ post.title }}</a>
																		{% else %}
																			{{ post.title }}
																		{% endif %}
																		</h3>
																		<ul class="meta">
																			<li class="icon fa-calendar">{{ post.eventdate }}</li>
																			<li class="icon fa-map-marker">{{ post.location }}</li>
																		</ul>
																	</article>
																</li>
																{% endif %}
															{% endfor %}
															</ul>
															<!--<a href="#" class="button alt">Browse Archives</a>-->
															{% endif %}

													</div>
												</div>
											</div>
										</div>
									</section>

							</div>
						</div>