						<div class="row 200%">
							<div class="12u">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Meine Leistungen</span></h2>
										<div>
											<div class="row">
											
												{% assign sortedServices = site.categories.service | sort: 'title' %}
												{% for post in sortedServices %}
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<!--<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>-->
															<ul class="special">
															<li><a href="#" class="icon fa-{{ post.icon }}"><span class="label">{{ post.title }}</span></a></li>
															</ul>
															<h3><a href="#">{{ post.title }}</a></h3>
															<!--<p>
																{{ post.excerpt | strip_html | truncate: 1000, '...' }}
															</p>-->
														</section>

												</div>
												{% endfor %}
											</div>
											<!--<div class="row">
												<div class="12u">
													<ul class="actions">
														<li><a href="#" class="button big">Do Something</a></li>
														<li><a href="#" class="button alt big">Think About It</a></li>
													</ul>
												</div>
											</div>-->
										</div>
									</section>

							</div>
						</div>