						<div class="row 200%">
							<div class="12u">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Meine Leistungen</span></h2>
										<div>
											<div class="row">
												{% comment %}
												{% assign sortedServices = site.categories.service | sort: 'title' %}
												{% for post in sortedServices %}
												<!--<div class="3u 12u(mobile)">-->

													<!-- Feature -->
														<!--<section class="box feature">
															<ul class="special">
															<li>
																<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="icon fa-{{ post.icon }}">
																	<span class="label">{{ post.title }}</span>
																</a>
															</li>
															</ul>
															<h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
															<p>
																{{ post.excerpt | strip_html | truncate: 1000, '...' }}
															</p>
														</section>

												</div>-->
												{% endfor %}
												{% endcomment %}
												
												<div class="3u 12u(mobile)">
													<!-- Feature -->
														<section class="box feature">
															<ul class="special">
															<li>
																<a href="{{ site.url }}{{ site.baseurl }}/services/agile_development/" class="icon fa-code">
																	<span class="label">Agile Entwicklung</span>
																</a>
															</li>
															</ul>
															<h3><a href="{{ site.url }}{{ site.baseurl }}/services/agile_development/">Agile Entwicklung</a></h3>
															<p>
																<!--Agile Entwicklung ist heutzutage viel mehr als in Sprints arbeiten und daily standups abhalten. -->
															</p>
														</section>
												</div>
												
												<div class="3u 12u(mobile)">
													<!-- Feature -->
														<section class="box feature">
															<ul class="special">
															<li>
																<a href="{{ site.url }}{{ site.baseurl }}/services/continuous_workflows/" class="icon fa-code-fork">
																	<span class="label">Continuous Workflows</span>
																</a>
															</li>
															</ul>
															<h3><a href="{{ site.url }}{{ site.baseurl }}/services/continuous_workflows/">Continuous Workflows</a></h3>
															<p>
																<!--Continuous Integration und Deployment sind wichtige Bausteine im agilen Umfeld. Ich kann Ihnen dabei helfen diese richtig auzusetzen und in Ihrem Team einzuführen.-->
														</section>
												</div>
												
												<div class="3u 12u(mobile)">
													<!-- Feature -->
														<section class="box feature">
															<ul class="special">
															<li>
																<a href="{{ site.url }}{{ site.baseurl }}/services/software_code_quality/" class="icon fa-check-square-o">
																	<span class="label">Software &amp; Code Qualit&auml;t</span>
																</a>
															</li>
															</ul>
															<h3><a href="{{ site.url }}{{ site.baseurl }}/services/software_code_quality/">Software &amp; Code  Qualit&auml;t</a></h3>
															<p>
																<!-- TODO -->
															</p>
														</section>
												</div>
												
												<div class="3u 12u(mobile)">
													<!-- Feature -->
														<section class="box feature">
															<ul class="special">
															<li>
																<a href="{{ site.url }}{{ site.baseurl }}/services/knowledge_teams/" class="icon fa-comments-o">
																	<span class="label">Wissensvermittlung in Teams</span>
																</a>
															</li>
															</ul>
															<h3><a href="{{ site.url }}{{ site.baseurl }}/services/knowledge_teams/">Wissensvermittlung in Teams</a></h3>
															<p>
																<!-- TODO -->
															</p>
														</section>
												</div>
												
											</div>
										</div>
									</section>

							</div>
						</div>