<article class="box post">
	<header>
		<h2 class="major"><span>Agile Entwicklung</span></h2>
	</header>
	<!--<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>--> 
	<p>
	Agile Entwicklung ist heutzutage ein komplexes Umfeld, welches weit &uuml;ber die Einf&uuml;hrung von einer neuen Projektmethode hinaus geht. Scrum, Kanban, XP usw. k&ouml;nnen dabei helfen eine passende Teamkultur zu etablieren, aber das alleine hilft noch nicht langfristig eine bessere Software und Code Qualit&auml;t zu erreichen. Bei der Einf&uuml;hrung und der Weiterbildung Ihres Teams in agilen best practices oder nachhaltiger Software-Architektur stehe ich Ihnen gerne zur Seite.<br/>
	<br/>
	Hier finden Sie ein paar Themen, bei denen ich Ihnen mit workshops, Trainings und Unterst&uuml;tzung im Team helfen kann:
		<ul>
			<li><span class="fa fa-fw fa-code"></span>&nbsp;Unit Testing</li>
			<li><span class="fa fa-fw fa-code"></span>&nbsp;Code Reviews</li>
			<li><span class="fa fa-fw fa-code"></span>&nbsp;Pair Programming</li>
			<li><span class="fa fa-fw fa-code"></span>&nbsp;Legacy code</li>
			<li><span class="fa fa-fw fa-code"></span>&nbsp;Refactoring</li>
			<li><span class="fa fa-fw fa-code"></span>&nbsp;Design Patterns</li>
		</ul>
	</p>
</article>