<article class="box post">
	<header>
		<h2 class="major"><span>Continuous Workflows</span></h2>
	</header>
	<p>
		Ein Thema welches in vielen Teams untersch&auml;tzt wird, ist Continuous Integration und Deployment. Agile Entwicklung wird oft eingef&uuml;hrt um schnellere Release Zyklen zu erm&ouml;glichen, aber es dann stellt sich nicht selten heraus, dass es mit der vorhandenen Code Basis gar nicht so einfach ist, oder der Deployment Prozess so komplex ist, dass es schwierig ist ihn &uuml;berhaupt zu automatisieren.<br/>
		Oft l&auml;uft zwar ein Continuous Integration System, aber es wird nicht aktiv genutzt. Das Team verl&auml;sst sich darauf, dass schon eine Mail kommt wenn etwas falsch ist oder der build gebrochen ist. Auch hier kann eine Schulung oder ein Workshop helfen, die Qualit&auml;tsmetriken, welche bei einem gut aufgesetzten System vorhanden sind, aktiv zu nutzen, um rechtzeitig Tendenzen in der Code Qualit&auml;t zu erkennen.<br/>
		<br/>
		Meine Leistungen:
		<ul>
			<li><span class="fa fa-fw fa-code-fork"></span>&nbsp;Aufsetzen von Continuous Integration workflows</li>
			<li><span class="fa fa-fw fa-code-fork"></span>&nbsp;Workshops zu Qualit&auml;tsmetriken innerhalb der Continuous Integration workflows</li>
			<li><span class="fa fa-fw fa-code-fork"></span>&nbsp;Unterst&uuml;tzung beim etablieren von Continuous Deployment/Delivery workflows</li>
		</ul>
	<!--Continuous Integration, Continuous Deployment, Continuous Delivery, Jenkins-->
	</p>
</article>