<article class="box post">
	<header>
		<h2 class="major"><span>Wissensvermittlung in Teams</span></h2>
	</header>
	<!--<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>--> 
	<p>
		Wissen innerhalb eines Teams weiter zu geben passiert h&auml;ufig eher nebenbei. Durch Dokumentationen, Meetings oder auch Gespr&auml;che im vorbei gehen. Wenn alles gut l&auml;uft, auch durch Architektur Diskussionen oder sogar Pair Programming. Was man damit aber eigentlich oft erreichen will, ist ein "Collective Code Ownership". Es soll weder Wissens- noch Verantwortungsinseln im Code geben. Um dies zu erreichen gibt es einige M&ouml;glichkeiten, bei denen ich Sie unterst&uuml;tzen kann.<br/>
		<br/>
		Meine Leistungen:
		<ul>
			<li><span class="fa fa-fw fa-comments-o"></span>&nbsp;Einf&uuml;hrung und Moderation von Code Review Meetings</li>
			<li><span class="fa fa-fw fa-comments-o"></span>&nbsp;Pair Programming Workshops</li>
			<li><span class="fa fa-fw fa-comments-o"></span>&nbsp;Einf&uuml;hrung von regelm&auml;&szlig;igen Teamvortr&auml;gen</li>
		</ul>
	</p>
</article>